.main-slider {
	background: #fcf8f3;
	@include adaptiveValue("margin-bottom"	,92 ,10 );
	// .main-slider__container
	&__container {
		@include adaptiveValue("padding-top", 140, 80);
		position: relative;
		@media (min-width: $pc) {
			&::before {
				content: "";
				background: #f9f1e7;
				position: absolute;
				top: 0;
				width: 100vw;
				right: 376px;
				height: 100%;
			}
		}
	}
	// .main-slider__column
	&__column {
	}

	&__inner {
		position: relative;
		z-index: 2;
		align-self: flex-start;
		flex: 0 0 494/1240 * 100%;
	}

	// .main-slider__content
	&__content {
		position: relative;
		z-index: 2;
		align-self: flex-start;
		flex: 0 0 494/1240 * 100%;
	}

	&__column {
		display: flex;
		flex-direction: row-reverse;
		@media (max-width: $mobile) {
			display: block;
		}
	}

	&__control {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .main-slider__body
	&__body {
		flex: 1 1 auto;
		min-width: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	// .main-slider__controls
	&__controls {
		align-self: stretch;
		display: flex;
		justify-content: space-between;
	}
	// .main-slider__paggination

	// .main-slider__bullets
	&__bullets {
		display: flex;
		gap: rem(28);
		flex-wrap: wrap;
		@include adaptiveValue("margin-left", 48, 17);
		span {
			display: inline-block;
			z-index: 3;
			width: 11px;
			height: 11px;
			background: #d8d8d8;
			border-radius: 50%;

			&.swiper-pagination-bullet-active {
				background: #e89f71;
				&::after {
					display: inline-block;
					content: "";
					width: 27px;
					height: 27px;
					border-radius: 50%;
					border: 1px solid #e89f71;
					transform: translate(-30%, -30%);
				}
			}
		}
		@media (max-width: $mobile) {
			margin: rem(18) auto;
			justify-content: center;
		}
	}

	// .main-slider__arrows
	&__arrows {
		@include adaptiveValue("margin-bottom", 22, 12);
		display: flex;
		gap: rem(8);
		@media (max-width: $mobile) {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 0;
			justify-content: space-between;
			
		}
	}
	// .main-slider__arrow
	&__arrow {
		color: #e89f71;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: rgba(#e89f71, 0.3);
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			color: #fff;
			background: rgba(#e89f71, 0.9);
		}
	}
	// .main-slider__arrow-prev
	&__arrow-prev {
		@media (max-width: $mobile) {
			transform: translate(50%,-50%);
			
		}
	}
	// .main-slider__arrow-next
	&__arrow-next {
		@media (max-width: $mobile) {
			transform: translate(-50%,-50%);
		}
	}
	// .main-slider__slider
	&__slider {
		position: relative;
		&.swiper {
			overflow: visible;
		}
		flex: 1 1 auto;
		@include adaptiveValue("width", 934, 290);
		@media (max-width: $mobile) {
			width: 100%;
		}
	}
	// .main-slider__swiper
	&__swiper {
		min-width: 0;
	}
	// .main-slider__slide
	&__slide {
	}
	// .main-slider__image-ibg
	&__image-ibg {
		padding: 0 0 59.5% 0;
	}
}

.content-slider {
	@include adaptiveValue("padding", 60, 15);
	background: rgba(255, 255, 255, 0.72);
	backdrop-filter: blur(31px);
	// .content-slider__title
	&__title {
		font-weight: bold;
		@include adaptiveValue("font-size", 56, 29);
		line-height: math.div(67, 56);
		@include adaptiveValue("margin-bottom", 16, 6, 1);
	}
	// .content-slider__text
	&__text {
		color: #898989;
		line-height: math.div(30, 20);
		@include adaptiveValue("font-size", 20, 14);
		font-weight: 500;
		@include adaptiveValue("margin-bottom", 48, 6, 1);
	}
	// .content-slider__btn
	&__btn {
		color: #fff;
		display: block;
		background: #e89f71;
		white-space: nowrap;
		font-weight: 600;
		line-height: math.div(30, 20);
		@include adaptiveValue("padding-top", 24, 14, 1);
		@include adaptiveValue("padding-bottom", 24, 14, 1);
		@include adaptiveValue("padding-right", 140, 64, 1);
		@include adaptiveValue("padding-left", 140, 64, 1);
		@media (max-width:$mobile){
			 width: 100%; 
		}
	}
}
